<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/assets/css/user/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/admin/newDashboard.css">
        <link rel="stylesheet" href="/assets/css/user/invoice.css">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
        <link rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gentelella/1.3.0/css/custom.css"> -->



        <title>Document</title>
</head>

<body>
        <div class="container-fluid mainConatainer" style="display: flex;">

                <div class="col-0 left-Menu-Bar-active" style="display: none;">
                        <div class="row"
                                style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
                                <img class="adminPanel" src="/assets/images/admin-panel2.png" style="margin-left: 0;"
                                        alt="">
                                <br><br>
                                <a class="active-Icons active" onclick="btnClick(this)" href="adminDashboard"><i
                                                class="fa fa-home menuBtn" style="font-size: 30px;"></i></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="ProductList"><img
                                                src="/assets/images/productIcon.png" alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="Category"><img
                                                src="/assets/images/category.png" alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="orderHistory"><img
                                                src="/assets/images/orderHistory.png" alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="coupon"><img
                                                src="/assets/images/couponIcon.png" alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="salesReport"><img
                                                src="/assets/images/sales.png" style="width: 30px;height: 30px;"
                                                alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="CustomerDetails"><img
                                                src="/assets/images/userRport.png" alt=""></a>
                                <a class="active-Icons" onclick="btnClick(this)" href="offers"><img
                                                src="/assets/images/coupon.png" style="width: 30px;height: 30px;"
                                                alt=""></a>
                        </div>
                </div>

                <div class="left-Menu-Bar">
                        <div class="row">
                                <img class="adminPanel" src="/assets/images/admin-panel2.png" alt="">
                                <span>Admin</span>
                        </div>
                        <div class="row">
                                <br><br>
                                <div class="menu_section">

                                        <ul class="nav side-menu">
                                                <li class="side-menu-li active" onclick="menuBtn(this)">
                                                        <a href="adminDashboard" class="side-menu-a-tag">
                                                                <i class="fa fa-home menuBtn"><span>DashBoard</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="ProductList" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img
                                                                                src="/assets/images/productIcon.png"
                                                                                style="width: 19px;height: 19px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Products</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="Category" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img
                                                                                src="/assets/images/category.png"
                                                                                style="width: 19px;height: 23px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Category</span></i>
                                                                <span class="fa fa-chevron-right"></span>

                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="orderHistory" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img
                                                                                src="/assets/images/orderHistory.png"
                                                                                style="width: 19px;height: 19px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Order
                                                                                History</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="coupon" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img
                                                                                src="/assets/images/couponIcon.png"
                                                                                style="width: 22px;height: 22px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Coupon</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="salesReport" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img src="/assets/images/sales.png"
                                                                                style="width: 22px;height: 22px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Sales
                                                                                Report</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="CustomerDetails" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img
                                                                                src="/assets/images/userRport.png"
                                                                                style="width: 19px;height: 19px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">User
                                                                                Report</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                                <li class="side-menu-li" onclick="menuBtn(this)">
                                                        <a href="offers" class="side-menu-a-tag">
                                                                <i class="menuBtn"><img src="/assets/images/coupon.png"
                                                                                style="width: 22px;height: 22px;"
                                                                                alt="">
                                                                        <span
                                                                                style="font-family: Helvetica Neue, Roboto, Arial, Droid Sans, sans-serif;padding-left: 5px;">Offers</span></i>
                                                                <span class="fa fa-chevron-right"></span>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>

                        </div>
                </div>
                <div class="right-Menu-Bar">
                        <div class="row NavbarRow">
                                <div class="menuIcon"><a id="MenuBtn"><i class="fa fa-bars"></i></a></div>
                                <div class="other-Settings">
                                        <a class="msgIcon" href="messageBox"><i class="fa fa-envelope-o"></i> <span
                                                        class="badge bg-green">6</span></a>
                                        <a href="" class="profileName">
                                                <b>hexashop@gmail.com</b><span class="fa fa-chevron-down"></span>
                                        </a>
                                </div>
                        </div>

                        <div class="row">
                                <div class="col-12">
                                        <section>
                                                <h3 class="section-head">Overview</h3>
                                                <div class="analytics">
                                                        <div class="analytic">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-eye"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4>Total Sales</h4>
                                                                        <h1>₹ <%=totalSales%>
                                                                        </h1>
                                                                </div>
                                                        </div>
                                                        <div class="analytic">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-clock"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4>Total Orders</h4>
                                                                        <h1>
                                                                                <%=orderCount%>
                                                                        </h1>
                                                                </div>
                                                        </div>
                                                        <div class="analytic">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-users"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4>Total Products</h4>
                                                                        <h1>
                                                                                <%=productCount%>
                                                                        </h1>
                                                                </div>
                                                        </div>
                                                        <div class="analytic">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-heart"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4>Active Users</h4>
                                                                        <h1>
                                                                                <%=activeUser%>
                                                                        </h1>
                                                                </div>
                                                        </div>
                                                </div>
                                        </section>
                                        <div class="col-12" style="display: flex;align-items: center;justify-content: flex-end;padding: 0;">
                                                <input type="date" onchange="customDateFilter('<%= JSON.stringify(salesDetails) %>')" class="dateBox" id="startDate" style="margin-right: 10px;">
                                                <input type="date" onchange="customDateFilter('<%= JSON.stringify(salesDetails) %>')" class="dateBox"id="endDate">

                                        </div>
                                        <div class="col-12" style="padding: 0;">
                                                <div class="block-grid">
                                                        <div class="div"
                                                                style="width:100% ;height: 500px;display: flex;flex-direction: column;align-items: center;justify-content: center;">
                                                                <canvas id="oilChart"
                                                                        style="width: 300px;height: 300px;"></canvas>
                                                                <h3 style="font-size: 13pt;font-family: Poppins;">Sales
                                                                        By Category</h3>
                                                        </div>
                                                        <div id="graphRow">
                                                                <div class="graph-card">
                                                                        <h3 class="section-head">Graph</h3>
                                                                        <div class="graph-content">
                                                                                <div class="graph-head">
                                                                                        <div class="icon-wrapper">
                                                                                                <div class="icon"><span
                                                                                                                class="las la-eye text-main"></span>
                                                                                                </div>
                                                                                                <div class="icon"><span
                                                                                                                class="las la-clock text-success"></span>
                                                                                                </div>
                                                                                        </div>
                                                                                        <div class="graph-select"
                                                                                                style="display: flex;">
                                                                                                <a><input name="saleFilter"
                                                                                                                id="monthlyFilter"
                                                                                                                onclick="salesGraph('monthly', '<%= JSON.stringify(salesDetails) %>')"
                                                                                                                style="background-color: #a5a5a5;"
                                                                                                                type="button"
                                                                                                                value="Monthly"></a>
                                                                                                <a><input name="saleFilter"
                                                                                                                id="yearlyFilter"
                                                                                                                onclick="salesGraph('yearly', '<%= JSON.stringify(salesDetails) %>')"
                                                                                                                style="margin-left: 10px;"
                                                                                                                type="button"
                                                                                                                value="Yearly"></a>
                                                                                        </div>

                                                                                </div>
                                                                                <div class="graph-board">
                                                                                        <canvas id="revenueChart"
                                                                                                width="100%"></canvas>
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>

                                                </div>
                                        </div>
                                        <br><br>

                                        <section>
                                                <h3 class="section-head">Best Selling Products, Categories, and Brands
                                                </h3>
                                                <div class="analytics" style="display: flex;justify-content: center;">
                                                        <div class="analytic best-selling-Box">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-eye"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4 style="font-weight: bold;font-size: 11pt;">
                                                                                TOP CATEGORYS</h4>
                                                                        <% categories.forEach((val)=> { %>
                                                                                <p>
                                                                                        <%=val%>
                                                                                </p>
                                                                                <% }) %>

                                                                </div>
                                                        </div>
                                                        <div class="analytic best-selling-Box">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-clock"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4 style="font-weight: bold;font-size: 11pt;">
                                                                                TOP 10 PRODUCTS</h4>
                                                                        <% topTenProducts.forEach((val)=> { %>
                                                                                <p>
                                                                                        <%=val%>
                                                                                </p>
                                                                                <% }) %>
                                                                </div>
                                                        </div>
                                                        <div class="analytic best-selling-Box">
                                                                <div class="analytic-icon"><span
                                                                                class="las la-users"></span></div>
                                                                <div class="analytic-info">
                                                                        <h4 style="font-weight: bold;font-size: 11pt;">
                                                                                TOP 10 BRAND</h4>
                                                                        <% topTenBrands.forEach((val)=> { %>
                                                                                <p>
                                                                                        <%=val%>
                                                                                </p>
                                                                                <% }) %>

                                                                </div>
                                                        </div>

                                                </div>
                                        </section>

                                        <br>





                                </div>
                                <div class="col-12" style="padding: 0;min-height: 500px;">
                                        <div class="row" style="padding-left: 15px;">
                                                <h3 class="section-head">Leadger Book</h3>
                                        </div>
                                        <div class="row"
                                                style="box-shadow: var(--shadow);height: 50px;display: flex;align-items: center;justify-content: center;border: 1px solid rgb(202, 202, 202);padding: 0;">
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        SI</div>
                                                <div class="col-3"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        Product</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        P-Qty</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        P-Rate</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        P-Amt</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        S-Qty</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        S-Rate</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        S-Amt</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        B-Qty</div>
                                                <div class="col-1"
                                                        style="font-family: Poppins;font-weight: bold;color:#555;display: flex;align-items: center;justify-content: center;">
                                                        Profit/Loss</div>

                                        </div>
                                        <% let salescount=0 %>
                                                <% product.forEach((val,i)=>{ %>
                                                        <div class="row"
                                                                style="box-shadow: var(--shadow);height: 90px;display: flex;align-items: center;justify-content: center;border-bottom: 1px solid rgb(202, 202, 202);padding: 0;">
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=i+1%>
                                                                </div>
                                                                <div class="col-3"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.ProductName%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.StockQuantity%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.PurchaseRate%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.PurchaseRate * val.StockQuantity%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <% salesDetails.forEach((item)=>{ %>
                                                                                <% if(val.ProductName===item.productID.ProductName){
                                                                                        %>
                                                                                        <% salescount +=item.Quantity %>

                                                                                                <% } %>
                                                                                                        <% }) %>
                                                                                                                <%=salescount%>

                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.SalesRate%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.SalesRate * salescount%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <%=val.StockQuantity%>
                                                                </div>
                                                                <div class="col-1"
                                                                        style="display: flex;align-items: center;justify-content: center;text-align: center;height: 90px;">
                                                                        <% if(val.PurchaseRate * val.StockQuantity <
                                                                                val.SalesRate * salescount ) { %>
                                                                                <button
                                                                                        style="width: 65px;height: 30px;background-color: #4BB543;border: none;color: white;font-family: Poppins;border-radius: 5px;">Profit</button>
                                                                                <% }else { %>
                                                                                        <button
                                                                                                style="width: 65px;height: 30px;background-color: #cc0000;border: none;color: white;font-family: Poppins;border-radius: 5px;">Loss</button>
                                                                                        <% } %>
                                                                </div>
                                                                <% salescount=0 %>
                                                        </div>
                                                        <% }) %>
                                </div>


                        </div>
                        <br><br><br><br><br>
                </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
        <script src="/assets/js/adminDashboard.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/assets/js/dashboard.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>