<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/user/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/user/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/user/templatemo-hexashop.css">
    <!-- <link rel="stylesheet" href="/assets/css/user/owl-carousel.css"> -->
    <!-- <link rel="stylesheet" href="/assets/css/user/lightbox.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/assets/css/user/wishlist.css">
    <link rel="stylesheet" href="/assets/css/user/trackOrder.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <title>Document</title>
</head>

<body>


    <div class="container-fluid outerDiv" id="blur" style="padding: 0px;">
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky" style="position: fixed;">
            <a class='menu-trigger' id="menuTrigger" style="position: relative;">
                <span>Menu</span>
            </a>
            <div class="container Nav-con-1">
                <div class="row row1">
                    <div class="col-10">
                        <nav class="main-nav" style=" margin-left: 20px;">

                            <!-- ***** Logo Start ***** -->
                            <a href="/" class="logo" style="padding: 0;">
                                <img src="/assets/images/logo.png">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/#top" class="active">Home</a></li>
                                <li class="scroll-to-section"><a href="/#men">Men's</a></li>
                                <li class="scroll-to-section"><a href="/#women">Women's</a></li>
                                <li class="scroll-to-section"><a href="/#kids">Kid's</a></li>
                                <li class="scroll-to-section"><a href="/#Contact">Contact</a></li>
                            </ul>


                        </nav>


                    </div>
                    <div class="col-2 col2">
                        <a><i class="fa-solid fa-magnifying-glass searchIcon" id="searchBtn"
                                style="color: #404040;"></i></a>
                        <a href="/shoppingcart">
                            <i class="fa-solid fa-cart-shopping cartIcon" style="color: #404040;"></i>
                        </a>
                        <a href="/Profile" class="profileLogo">
                            <img src="/assets/images/profile-Icon.png" class="profileIcon">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->


        <div class="row searchBar"
            style="height: 70px;  display: flex;justify-content: center;padding-top: 90px; display: none;cursor: pointer;">
            <label for=""
                style="width: 70vw;height: 50px; background-color: #e7e7e7;display: flex;align-items: center;padding-left: 20px;">
                <input type="text" style="border: none;outline: none; width: 64vw;background: transparent;"
                    placeholder="Search For Products , Brands and More...">
                <a href="" style="width: 6vw;text-align: center;"><i class="fa-solid fa-magnifying-glass"
                        style="color: #000000; font-size: 18pt;"></i></a>
            </label>
        </div>



        <div class="container-fluid conF-1" style="margin-top: 100px;">
            <!-- <h3 class="myAccount">My Account</h3> -->
            <div class="row" style="min-height: 100vh;">
                <div class="col-md-3 col-sm-12 col3">

                    <div class="row" style="display: flex;align-items: center; padding-left: 20px; padding-top: 20px;">
                        <label for="imgInput">
                            <div class="circle">
                                <img class="profile-pic" id="profilePic"
                                    src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                            </div>
                            <input class="file-upload" id="imgInput" hidden type="file" accept="image/*"
                                onclick="cropImage('imgInput','profilePic')" />

                        </label>
                        <p>Welcome , Shinith </p>
                    </div>


                    <ul>
                        <a id="changeIcon">
                            <li><i class="fa-regular fa-user menuIcon" style="color: black;"></i><span
                                    class="spanText">Account
                                    Settings</span>
                                <span>
                                    <i id="icon" class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>


                        <a href="/Profile" id="DropDownLi1" style="display: none;">
                            <li style="padding-left: 50px; height: 50px;">Profile Information <span
                                    style="width: 30px;"><i style="font-size:24px;color:#494949;padding-left:55px;"
                                        class="fa rightAngle">&#xf105;</i></span></li>
                        </a>

                        <a href="profileMenu?menu=manageAddress" id="DropDownLi2" style="display: none;">
                            <li style="padding-left: 50px;height: 50px;">Manage Address <span style="width: 30px;"><i
                                        style="font-size:24px;color:#494949;padding-left:69px;"
                                        class="fa rightAngle">&#xf105;</i></span></li>
                        </a>



                        <a href="profileMenu?menu=myOrders">
                            <li style="background-color: #afafaf;"><i
                                    class="fa-solid fa-cart-shopping cartIcon menuIcon" style="color: black;"></i><span
                                    class="spanText">My
                                    Orders</span>
                                <span>
                                    <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>
                        <a href="profileMenu?menu=wishlist">
                            <li><i class="fa fa-heart menuIcon" style="color: black;"></i><span
                                    class="spanText">Wishlist</span>
                                <span>
                                    <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>
                        <a href="">
                            <li><i class="fa-solid fa-receipt menuIcon" style="color: black;"></i><span
                                    class="spanText">Coupons</span>
                                <span>
                                    <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>
                        <a href="profileMenu?menu=Wallet">
                            <li><i class="fa-solid fa-wallet menuIcon" style="color: #000000;"></i><span
                                    class="spanText">Wallet</span>
                                <span>
                                    <i style="font-size:24px;color:#494949;" class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>
                        <a href="/logout">
                            <li><img src="/assets/images/logout.png" class="logoutImg"><span class="spanText"
                                    style="padding-left: 30px; font-size: 13pt;">Logout</span>
                                <span>
                                    <i style="font-size:24px;padding-left: 10px; color:#494949;"
                                        class="fa rightAngle">&#xf105;</i>
                                </span>
                            </li>
                        </a>
                    </ul>
                </div>




                <!-- track order -->
                <div class="col-md-9 col-sm-12 col9" style="padding-top: 0;" id="trackOrder">
                    <div class="row" style="padding: 0;display: flex;justify-content: space-between;">
                        <div style="display: flex;width: 50%;">
                            <a href="profileMenu?menu=myOrders" style="width: 50px;"><img
                                    src="/assets/images/back-button.png" alt=""
                                    style="height: 35px;width: 35px;margin-top: 10px;"></a>
                            <h3 style="width: 100%; margin-left: 10px;">Track Order</h3>

                        </div>
                        <% if(trackDetails[0].Status ==='Delivered'){ %> 
                        <form action="/generate-invoice?data=<%= JSON.stringify(trackDetails) %>" method="post">
                            <button class="btn form-Control" style="margin-top: 15px;height: 35px;width: 120px;background-color: black;color: white;">Invoice</button>
                        </form>
                        <% } %>
                    </div>

                    <br><br>
                    <% trackDetails.forEach((val)=> { %>
                    <div class="row deliveryAddress">
                         
                            <div class="col-6 leftRow">
                                <h4>Delivery Address</h4>
                                <p id="name"
                                    style="font-size: 13pt;margin-top: 13px;font-family:Poppins; font-weight: 500;">
                                    <%=val.addressID.fullName%>
                                </p>
                                <p id="address"
                                    style="font-size: 11pt;font-weight: 400; width: 350px; padding: 0; margin-top: 5px;">
                                    <%=val.addressID.address%>
                                </p>
                                <h6 style="margin-top: 10px;font-family: Poppins;font-size: 12pt;">Phone Number : <span
                                        style="padding-left: 2px;font-size: 11pt;color:#404040;" id="mob-number">
                                        <%=val.addressID.phoneNo%>
                                    </span>
                                </h6>
                                <h6 style="margin-top: 10px;font-family: Poppins;font-size: 12pt;">Email : <span
                                        style="padding-left: 2px;font-size: 11pt;color:#404040;" id="email">
                                        <%=val.addressID.emailAddress%>
                                    </span>
                                </h6>
                            </div>
                            <div class="col-6 rightRow">
                                <h4>Product Details <span>


                                    <% 
                                        const orderDate = new Date(val.OrderDate); 
                                        const currentDate = new Date()
                                        const differenceInDays = Math.floor((currentDate - orderDate) / (1000 * 60 * 60 * 24));  
                                     %>
                                        <% if (val.Status === 'Delivered' && differenceInDays <= 14 && val.rejected === false) { %>
                                            <input type="button" class="btn btncancelOrder" id="btnReturnOrder" onclick="btnReturnOrder()" value="Return Order">
                                        <% } else if(val.Status==='Out For Delivery' || val.Status==='Order Confirmed' || val.Status==='Order Placed' && differenceInDays <= 10){ %>
                                            <input type="button" id="cancelOrderbtn" onclick="cancelOrder()"
                                            class="btn btncancelOrder" value="Cancel Order">
                                        <% } else if(val.Status==='Failed') { %> 
                                            <a onclick="RazorPayment('<%= JSON.stringify(trackDetails) %>')"><button  class="btn btncancelOrder" id="remove">Try Again</button></a> 
                                        <% } %>

                                    </span></h4>
                                <a href="" style="display:flex;align-items: center;">
                                    <img src="<%=val.productID.files[0].url%>" alt="" style="height: 80px;width: 80px; "
                                        id="productImg">
                                    <p style="padding-left: 20px;" id="productName">
                                        <%=val.productID.ProductName%>
                                    </p>
                                    </p>
                                </a>
                                <h6 style="padding-top: 10px;">Brand Name : <span style="color: #404040;"
                                        id="brandName">
                                        <%=val.productID.BrandName%>
                                    </span></h6>
                                <h6 style="padding-top: 10px;">Price : ₹<span style="color: #404040; padding-left: 5px;"
                                        id="price">
                                        <%=val.Amount%>
                                    </span></h6>
                            </div>

                            
                    </div>


                    <div class="card card-timeline px-2 border-none trackDetails">
                        
                            <% if(val.Status === 'Order Placed'){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step" id="lineTwo"><div><i class="fas fa-bread-slice"></i></div>Order Confirmed</li>
                                    <li class="step" id="lineThree"><div><i class="fas fa-truck"></i></div>Out For Delivery</li>
                                    <li class="step" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Delivered</li>
                                </ul>
                                <h5 class="text-center content">Your order has been successfully placed.</h5>
                            <% } else if(val.Status === 'Order Confirmed'){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineTwo"><div><i class="fas fa-bread-slice"></i></div>Order Confirmed</li>
                                    <li class="step" id="lineThree"><div><i class="fas fa-truck"></i></div>Out For Delivery</li>
                                    <li class="step" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Delivered</li>
                                </ul>
                                <h5 class="text-center content">Your order has been confirmed and is being processed!</h5>
                            <% } else if(val.Status === 'Out For Delivery'){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineTwo"><div><i class="fas fa-bread-slice"></i></div>Order Confirmed</li>
                                    <li class="step active" id="lineThree"><div><i class="fas fa-truck"></i></div>Out For Delivery</li>
                                    <li class="step" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Delivered</li>
                                </ul>
                                <h5 class="text-center content">Your order is on its way and is currently marked as Out For Delivery.</h5>
                            <% } else if(val.Status === 'Delivered'  && val.rejected === false ){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineTwo"><div><i class="fas fa-bread-slice"></i></div>Order Confirmed</li>
                                    <li class="step active" id="lineThree"><div><i class="fas fa-truck"></i></div>Out For Delivery</li>
                                    <li class="step active" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Delivered</li>
                                </ul>
                                <h5 class="text-center content">Your order has been successfully delivered.</h5>
                            <% } else if(val.Status === 'Order Returned' ){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Order Returned</li>
                                </ul>
                                <h5 class="text-center content">Your return request has been successfully confirmed!</h5>
                            <% } else if(val.Status === 'Order Cancelled'){ %> 
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Order Cancelled</li>
                                </ul>
                                <h5 class="text-center content">Your Cancel request has been successfully confirmed!</h5>
                            <% } else if(val.Status === 'Delivered' && val.rejected === true) {%>
                                <ul class="bs4-order-tracking" style="display: flex;justify-content: center;align-items: center;">
                                    <li class="step active" id="lineOne"><div><i class="fas fa-user"></i></div>Order Placed</li>
                                    <li class="step active" id="lineTwo"><div><i class="fas fa-bread-slice"></i></div>Order Confirmed</li>
                                    <li class="step active" id="lineThree"><div><i class="fas fa-truck"></i></div>Out For Delivery</li>
                                    <li class="step active" id="lineFour"><div><i class="fas fa-birthday-cake"></i></div>Delivered</li>
                                </ul>
                                <h5 class="text-center content">Your return request has been rejected.</h5>
                            <% } %>
                           
                        
                        
                    </div>

                    <% }) %>
                </div>




            </div>
        </div>

        <!-- eFooter starts here... -->
        <%- include('../../views/user/footer.ejs') %>
            <!-- Footer end  here... -->

    </div>
    <div id="SuccessDiv">
        <div class="container cancel-Confirmation" >
            <img src="/assets/images/CancelOrder.png"
                style="height: 80px;width: 130px; margin-bottom: 10px;padding-right: 29px;" alt="">
            <h6>Are you Sure?</h6>
            <p style="width: 300px;text-align: center; margin-top: 10px;">Are you sure you want to proceed with
                canceling the order!</p>
            <select name="CancelReason" id="canceldropdown" class="dropbtn">
                <option value="Order Placed By Mistake">Reason For Cancellation</option>
                <option value="Order Placed By Mistake">Order Placed By Mistake</option>
                <option value="Item arrived too late">Item arrived too late</option>
                <option value="Financial reasons">Financial reasons</option>
                <option value="Other ">Other</option>
            </select>
            <label for="">Comment(optional)
                <input type="text" id="reqReason" class="commentInput">
            </label>
            <div class="row">
                <input type="button" class="btn" id="cancelBtn" value="Cancel">
                <input type="button" class="btn" id="submitBtn" onclick="submitRequest('<%=trackDetails[0]._id%>')" value="Submit Request">
            </div>

        </div>

        <div class="container submit-Order" style="display: none;">
            <i class="fa-regular fa-circle-check" style="color: #10aa0e;font-size: 40pt;padding-bottom: 10px;"></i>
            <p id="content" style="width: 400px;text-align: center; margin-top: 10px;">Your order cancellation request is being
                processed. Expect confirmation shortly</p>
            <a href=""><input type="button" class="btn" id="checkstatusBtn" value="Check Status"></a>
        </div>

        <div class="container returnOrder" style="display: none;">
            <img src="/assets/images/return.png"
            style="height: 80px;width: 120px; margin-bottom: 10px;padding-right: 29px;" alt="">

            <h6>Are you Sure?</h6>
            <p style="width: 300px;text-align: center; margin-top: 10px;">Are you sure you want to proceed with
                return the order!</p>
            <select name="returnReason" id="returndropdown" class="dropbtn">
                <option value="Order Placed By Mistake">Reason For Return</option>
                <option value="Order Placed By Mistake">Order Placed By Mistake</option>
                <option value="The product has sustained damage.">The product has sustained damage.</option>
                <option value="Buy another Product">Buy another Product</option>
                <option value="Other ">Other</option>
            </select>
           
            <label for="">Comment(optional)
                <input type="text" id="requestReason" class="commentInput">
            </label>
            <div class="row">
                <input type="button" class="btn" style="margin: 0;margin-left: 10px; width: 100px;height: 40px;"  onclick="returnCancelBtn()"  value="Cancel" >
                <input type="button" class="btn" id="returnSubmitBtn" style="margin: 0;margin-left: 10px; width: 100px;height: 40px;" onclick="returnOrder('<%=trackDetails[0]._id%>')"  value="Submit">
            </div>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/js/trackorder.js"></script>
</body>

</html>